header {
  display: flex;
  border: 1px solid;
  justify-content: space-between;
}
.logo {
  width: 100px;
}
.nav-items {
  margin: 20px;
  padding: 0 20px;
}
.nav-items > ul {
  display: flex;
  list-style-type: none;
}
.nav-items > ul > li {
  margin: 0 10px;
}

.rest-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.restaurant-card {
  border: 1px solid;
  width: 200px;
  margin: 10px;
  background-color: beige;
}
.rest-logo {
  width: 100%;
  height: auto;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.shimmer-card {
  width: 200px;
  height: 300px;
  margin: 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
  animation: shimmer 1.5s infinite linear;
}

.filter-container {
  display: flex;
  margin: 20px;
}
.search {
  margin-right: 10px;
}
.menu-item {
  display: flex;
}